<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">

    <div th:if="${message != null}">
        <div class="alert green">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Success!</strong> <p th:text="${message}"></p>
        </div>
    </div>

    <h3>Ubah Jabatan</h3>

    <form th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="POST">
        <input type="hidden" th:field="*{id}" />

        <label for="nama">Nama</label>
        <input type="text" name="nama" th:field="${jabatan.nama}"/>

        <label for="deskripsi">Deskripsi</label>
        <input type="text" name="deskripsi" th:field="${jabatan.deskripsi}"/>

        <label for="gajiPokok">Gaji Pokok</label>
        <input type="number" name="gajiPokok" th:field="${jabatan.gajiPokok}"/>

        <button type="submit">Simpan</button>
    </form>
</div>

</body>
</html>