<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/fragment :: head"></head>

    <body class="bg-light">
        <nav th:replace="fragments/fragment :: navbar"></nav>

        <div class="container">
            <div class="py-5 text-center">
                <h2>Tambah Pegawai</h2>
                <p class="lead">Menambahkan begawai baru ke dalam sistem.</p>
            </div>

            <hr class="mb-4">

            <form class="needs-validation" th:action="@{/pegawai/tambah}" id="pegawaiForm" th:object="${pegawai}" method="POST">
                <div class="col-md">
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <table class="table table-borderless table-striped">
                                    <tr>
                                        <td><input type="hidden" name="nip"/></td>
                                    </tr>
                                    <tr>
                                        <td><label for="nama">Nama</label></td>
                                        <td><input type="text" class="form-control" required="required" id="nama" name="nama" th:value="*{nama}"/></td>
                                    </tr>

                                    <tr>
                                        <td><label for="tempatLahir">Tempat Lahir</label></td>
                                        <td><input type="text" class="form-control" required="required" name="tempatLahir" id="tempatLahir" th:value="*{tempatLahir}"/></td>
                                    </tr>

                                    <tr>
                                        <td><label for="tanggalLahir">Tanggal Lahir</label></td>
                                        <td><input type="date" class="form-control" required="required" name="tanggalLahir" id="tanggalLahir" th:value="${tanggalLahir}"/></td>
                                    </tr>

                                    <tr>
                                        <td><label for="tahunMasuk">Tahun Masuk</label></td>
                                        <td><input type="text" class="form-control" required="required" name="tahunMasuk" id="tahunMasuk" th:value="*{tahunMasuk}" /></td>
                                    </tr>

                                    <tr>
                                        <td><label for="provinsi">Provinsi</label></td>
                                        <td>
                        <span th:if="*{instansi} == null">
                            <select  class="form-control" required="required" name="provinsi" id="provinsi" th:value="${listProvinsi}" form="pegawaiForm">
                                <option disabled="disabled" selected="selected" >Pilih Provinsi</option>
                                <option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}" ></option>
                            </select>
                        </span>

                                            <span th:unless="*{instansi} == null">
                            <select  class="form-control" required="required" name="provinsi" id="provinsi" th:value="*{instansi.provinsi}" form="pegawaiForm">
                                <option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}" th:selected="${provinsi.id} == *{instansi.provinsi.id}"></option>
                            </select>
                        </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><label for="namaInstansi">Nama Instansi</label></td>
                                        <td>
                        <span th:if="*{instansi} == null">
                            <select class="form-control" th:value="*{instansi}" name="instansi" id="instansi" required="required"  form="pegawaiForm">
                                <option disabled="disabled" selected="selected" >Pilih Instansi</option>
                            </select>
                        </span>

                                            <span th:unless="*{instansi} == null">
                            <select class="form-control" th:value="*{instansi}" name="instansi" id="instansi" required="required"  form="pegawaiForm">
                                <option  th:value="*{instansi.id}" selected="selected" th:text="*{instansi.nama}"></option>
                                <option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" ></option>
                            </select>
                        </span>
                                        </td>
                                    </tr>

                                    <span th:each="jabatan, rowStat : *{jabatanList}">
                    <tr>
                        <td style="vertical-align: top; text-align: left;" height="50" th:text="${rowStat.count} == 1 ? 'Jabatan' : ''"></td>
                        <td>
                            <select name="jabatanList" id="jabatan" form="pegawaiForm">
                                <option th:each="jabatan : ${listJabatan}" th:field="*{jabatanList[__${rowStat.index}__].id}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
                            </select>
                            <button type="submit" name="deleteJabatan" th:value="${rowStat.index}" th:style="${rowStat.count} == 1 ? 'display: none;' : ''">X</button></td>
                        </td>
                    </tr>
                </span>
                                    <tr>
                                        <td><button type="submit" name="addJabatan">Tambah Jabatan Lainnya</button></td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>
        </div>
    </body>

    <script th:inline="javascript">
        $('#provinsi').change(
            function() {
                $.getJSON("/instansi/getFromProvinsi", {
                    provinsiId : $(this).val(),
                    ajax : 'true'
                }, function(data) {
                    var html = '<option value="">Pilih Instansi</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">'
                            + data[i].nama + '</option>';
                    }
                    html += '</option>';
                    $('#instansi').html(html);
                });
            });
    </script>

</html>