<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <h3>Tambah Pegawai</h3>
    <form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
        <label for="nama">Nama</label>
        <input type="text" name="nama" />

        <label for="tempatLahir">Tempat Lahir</label>
        <input type="text" name="tempatLahir" />

        <label for="tanggalLahir">Tanggal Lahir</label>
        <input type="date" name="tanggalLahir" />

        <label for="tahunMasuk">Tahun Masuk</label>
        <input type="text" name="tahunMasuk" />

        <label for="provinsi">Provinsi</label>
        <select class="form-control" name="provinsi" id="provinsi">
            <option value="0">Pilih Provinsi</option>
            <option th:each="provinsi : ${listAllProvinsi}"
                    th:value="${provinsi.id}"
                    th:text="${provinsi.nama}">
            </option>
        </select>

        <label for="instansi">Instansi</label>
        <select class="form-control" name="instansi" id="instansi">
            <option value="0">Pilih Instansi</option>
        </select>

        <label for="jabatan">Jabatan</label>
        <select class="form-control" name="jabatan" id="jabatan">
            <option value="0">Pilih Jabatan</option>
        </select>

        <br>

        <button type="submit">Simpan</button>
    </form>
</body>
</html>