<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>

<body class="bg-light">

    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container">

        <div th:if="${messageGreen != null}">
            <div class="alert green">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Success!</strong> <p th:text="${messageGreen}"></p>
            </div>
        </div>

        <div class="py-5 text-center">
            <h2 th:text="'Lihat Data Pegawai - '+${pegawai.nip}"></h2>
            <p class="lead">Detail pegawai dengan lengkap.</p>
        </div>

        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <table class="table table-borderless table-striped">
                            <tbody>
                                <tr>
                                    <th>NIP</th>
                                    <td th:text="${pegawai.nip}"></td>
                                </tr>
                                <tr>
                                    <th>Nama</th>
                                    <td th:text="${pegawai.nama}"></td>
                                </tr>
                                <tr>
                                    <th>Tempat Lahir</th>
                                    <td th:text="${pegawai.tempatLahir}"></td>
                                </tr>
                                <tr>
                                    <th>Tanggal Lahir</th>
                                    <td th:text="${pegawai.tanggalLahir}"></td>
                                </tr>
                                <tr>
                                    <th>Tahun Masuk</th>
                                    <td th:text="${pegawai.tahunMasuk}"></td>
                                </tr>
                                <tr>
                                    <th>Nama Instansi</th>
                                    <td th:text="${pegawai.instansi.nama}+' - '+${pegawai.instansi.provinsi.nama}"></td>
                                </tr>
                                <tr>
                                    <th>Jabatan</th>
                                    <td>
                                        <ul th:each="jabatan : ${pegawai.jabatanList}">
                                            <li th:text="${jabatan.nama}"/>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Gaji</th>
                                    <td th:text="'Rp.'+${gajiPegawai}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <form th:action="@{/pegawai/ubah}">
            <input type="hidden" name="nip" th:value="${pegawai.nip}"/>
            <button value="submit" class="btn btn-primary btn-lg btn-block">Ubah Pegawai</button>
        </form>
    </div>
</body>
</html>