<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <h3 th:text="'Data Pegawai Termuda'"></h3>
            <p th:text="'NIP					' + ${pegawaiTermuda.nip}"></p>
            <p th:text="'Nama					' + ${pegawaiTermuda.nama}"></p>
            <p th:text="'Tempat Lahir			' + ${pegawaiTermuda.tempatLahir}"></p>
            <p th:text="'Tanggal Lahir			' + ${pegawaiTermuda.tanggalLahir}"></p>
            <p th:text="'Tahun Masuk			' + ${pegawaiTermuda.tahunMasuk}"></p>
            <p th:text="'Nama Instansi			' + ${pegawaiTermuda.instansi.nama} + ' - ' + ${pegawaiTermuda.instansi.provinsi.nama}"></p>
            <div th:each="jabatan : ${pegawaiTermuda.jabatanList}">
                <p th:text="'Jabatan				' + ${jabatan.nama}"></p>
            </div>
        </div>

        <div class="col-md-6">
            <h3 th:text="'Data Pegawai Tertua'"></h3>
            <p th:text="'NIP					' + ${pegawaiTertua.nip}"></p>
            <p th:text="'Nama					' + ${pegawaiTertua.nama}"></p>
            <p th:text="'Tempat Lahir			' + ${pegawaiTertua.tempatLahir}"></p>
            <p th:text="'Tanggal Lahir			' + ${pegawaiTertua.tanggalLahir}"></p>
            <p th:text="'Tahun Masuk			' + ${pegawaiTertua.tahunMasuk}"></p>
            <p th:text="'Nama Instansi			' + ${pegawaiTertua.instansi.nama} + ' - ' + ${pegawaiTertua.instansi.provinsi.nama}"></p>
            <div th:each="jabatan : ${pegawaiTertua.jabatanList}">
                <p th:text="'Jabatan				' + ${jabatan.nama}"></p>
            </div>
        </div>

    </div>
</div>

</body>
</html>