<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <div th:if="${message != null}">
        <div class="alert red">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Opps!</strong> <p th:text="${message}"></p>
        </div>
    </div>

    <h3 th:text="'Detail Jabatan ' + ${jabatan.nama}"></h3>
    <p th:text="'Nama				' + ${jabatan.nama}"></p>
    <p th:text="'Deskripsi			' + ${jabatan.deskripsi}"></p>
    <p th:text="'Gaji Pokok			' + ${jabatan.gajiPokok}"></p>
    <p th:text="'Jumlah Pegawai		' + ${jumlahPegawai}"></p>

    <form th:action="@{/jabatan/ubah}">
        <input type="hidden" name="idJabatan" th:value="${jabatan.id}">
        <button type="submit">Ubah</button>
    </form>
    <form th:action="@{/jabatan/hapus}" th:object="${jabatan}" method="POST">
        <input type="hidden" th:field="*{id}">
        <button type="submit">Hapus</button>
    </form>

</div>

</body>
</html>